

body{
  background-color: #000;
  color: #fff;
}

.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.card{
  width: 300px;
  border-radius: 10px;
  background-color: #222;
  padding: 15px;
  text-align: center;
}

.parent{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}
